html,
body {
  height: 100%;
}

body {
  display: flex;
  /* align-items: flex-start; */
  /* align-items: stretch; */
  /* align-items: flex-end; */
  align-items: center;
}
div {
  width: 200px;
  height: 200px;
  background-color: tomato;
}
#second {
  background-color: seagreen;
}
