#top {
  background-color: green;
}
#middle {
  overflow: hidden;
}
body {
  width: 500px;
  margin: 10px auto;
}
#left {
  float: left;
  width: 150px;
  background-color: red;
}
#right {
  float: right;
  width: 350px;
  background-color: blue;
}
#bottom {
  background-color: purple;
}
